.home
  &_title
    font-weight: 700
    font-size: 46px
    margin-bottom: 20px

    @media only screen and (max-width: 1680px)
      font-size: 36px

    @media only screen and (max-width: 1199px)
      font-size: 26px
      text-align: center
      margin-bottom: 32px

    @media only screen and (max-width: 767px)
      font-size: 16px

  & > .slider
    margin-bottom: 50px

  &_why
    margin-bottom: 100px

    @media only screen and (max-width: 1680px)
      margin-bottom: 84px

    @media only screen and (max-width: 1199px)
      margin-bottom: 68px

    @media only screen and (max-width: 767px)
      margin-bottom: 50px

    &_blocks
      box-sizing: border-box
      display: flex
      align-items: center
      justify-content: space-between
      width: 24%
      border-radius: 10px
      padding: 2.2% 1.5%

      @media only screen and (max-width: 1199px)
        width: 48%

        &:nth-child(n+3)
          margin-top: 20px

      @media only screen and (max-width: 767px)
        padding: 3% 2.2%

        &:nth-child(n+3)
          margin-top: 10px

      &:first-child
        background: linear-gradient(90deg, #C9D6FF 0%, #E2E2E2 100%)

        & > svg
          width: 100px

          @media only screen and (max-width: 1680px)
            width: 70px

          @media only screen and (max-width: 767px)
            width: 40px

      &:nth-child(2)
        background: linear-gradient(90deg, #D66D75 0%, #E29587 100%)

        & > svg
          width: 100px

          @media only screen and (max-width: 1680px)
            width: 70px

          @media only screen and (max-width: 767px)
            width: 38px

      &:nth-child(3)
        background: linear-gradient(89.87deg, #556270 0.13%, #FF6B6B 117.72%)

        & > svg
          width: 100px

          @media only screen and (max-width: 1680px)
            width: 70px

          @media only screen and (max-width: 767px)
            width: 40px

      &:last-child
        background: linear-gradient(90deg, #FF5F6D 0%, #FFC371 100%)

        & > svg
          width: 70px

          @media only screen and (max-width: 1680px)
            width: 50px

          @media only screen and (max-width: 767px)
            width: 30px

      & > svg
        fill: $light

      & > div
        width: 58%
        color: $light

        @media only screen and (max-width: 1680px)
          width: 66%

        @media only screen and (max-width: 1199px)
          width: 77%

        @media only screen and (max-width: 767px)
          width: 64%

        & > h3
          font-weight: 700
          font-size: 32px
          margin-bottom: 10px

          @media only screen and (max-width: 1680px)
            font-size: 28px

          @media only screen and (max-width: 1199px)
            font-size: 20px

          @media only screen and (max-width: 767px)
            font-size: 16px

        & > p
          font-weight: bold
          font-size: 18px

          @media only screen and (max-width: 1680px)
            font-size: 16px

          @media only screen and (max-width: 1199px)
            font-size: 14px

          @media only screen and (max-width: 767px)
            font-size: 12px

          & > span
            display: block

            @media only screen and (max-width: 767px)
              font-size: 16px

      &_row
        display: flex
        flex-wrap: wrap
        justify-content: space-between

        @media only screen and (max-width: 1199px)
          justify-content: space-evenly


  &_rests
    margin-bottom: 100px

    @media only screen and (max-width: 1680px)
      margin-bottom: 84px

    @media only screen and (max-width: 1199px)
      margin-bottom: 68px

    @media only screen and (max-width: 767px)
      margin-bottom: 50px

    &_row
      display: flex
      justify-content: space-between

      @media only screen and (max-width: 767px)
        flex-wrap: wrap
        justify-content: center

    &_item
      box-sizing: border-box
      width: 33%
      max-width: 465px

      &:hover .home_rests_image
        transform: scale(1.2)

      @media only screen and (max-width: 1680px)
        width: 32%

      @media only screen and (max-width: 767px)
        width: 80%

        &:nth-child(n+2)
          margin-top: 40px

    &_image
      display: block
      width: 100%
      height: auto
      transition: transform ease-out .4s

      &_container
        overflow: hidden
        width: 100%
        border-radius: 15px 15px 0 0

    &_content
      background-color: $light
      border-radius: 0 0 15px 15px
      padding: 20px

      & > h3
        font-weight: 700
        font-size: 24px
        margin-bottom: 10px

        @media only screen and (max-width: 1199px)
          font-size: 19px

        @media only screen and (max-width: 767px)
          font-size: 16px

      & > p
        font-size: 18px

        @media only screen and (max-width: 1199px)
          font-size: 16px

        @media only screen and (max-width: 767px)
          font-size: 12px

    &_link
      position: relative
      text-decoration: none
      color: inherit

      &:before
        content: ''
        display: block
        position: absolute
        left: 0
        bottom: 0
        width: 0
        height: 2px
        background-color: $dark
        transition: width ease-out .3s

      &:hover::before
        width: 100%


  &_catalogue
    margin-bottom: 100px

    @media only screen and (max-width: 1680px)
      margin-bottom: 84px

    @media only screen and (max-width: 1199px)
      margin-bottom: 68px

    @media only screen and (max-width: 767px)
      margin-bottom: 50px

    &_header
      position: relative
      display: flex
      margin-bottom: 40px
      z-index: 10

      & .form_search
        @media only screen and (max-width: 1199px)
          width: 100%

        @media only screen and (max-width: 767px)
          width: 100%

    &_filter
      position: relative
      margin-left: 15px

      & .form_filter
        position: absolute
        top: 47px
        left: calc(50% - 225px)
        transform: scaleY(0)
        transform-origin: 0 0
        opacity: 0

        @media only screen and (max-width: 1199px)
          left: auto
          right: 0

        &.active
          transform: scaleY(1)
          opacity: 1
          animation: scaleY .4s

    &_row
      display: flex
      flex-wrap: wrap
      justify-content: space-between

      @media only screen and (max-width: 767px)
        justify-content: center

      & .card
        @media only screen and (max-width: 1680px)
          width: 32%

        @media only screen and (max-width: 767px)
          width: 100%

    & > div
      display: flex

      & > .btn_more
        width: 100%
        max-width: 465px
        margin-right: auto
        margin-left: auto


