div(class="authorization")
	div(class="authorization_popup")
		header(class="authorization_header")
			span(class="authorization_header_close")
				include ../../images/сlose_icon.svg
		div(class="authorization_body")
			form(class="authorization_form")
				input(class="authorization_form_input" placeholder="Номер телефона или Email адрес" required)
				span(class="authorization_link") Забыли пароль?
				input(class="authorization_form_input" type="password" placeholder="Пароль" required)
				button(class="btn btn_form") Войти
		footer(class="authorization_footer")
