section(class="bonuscard")
  header(class="bonuscard_header")
    include ../../images/Logo.svg
    h2 Баланс
      span 100
  div(class="bonuscard_work")
    div(class="bonuscard_work_time")
      p Режим работы
      p ежедневно
      p 9-23
  footer(class="bonuscard_footer")
    div(class="bonuscard_footer_percent")
      h2 Любимый гость
        span Дмитрий Матвеев
      p Бонус
        span 5
    img(class="bonuscard_footer_qrcode" src="/images/qrcodecurves.jpg" width="116" height="116")
