nav(class="breadcrumbs")
  ul(class="breadcrumbs_list container")
    li(class="breadcrumbs_item")
      a(href="#0") Главная
    li(class="breadcrumbs_separator") /
    li(class="breadcrumbs_item")
      a(href="#0") Рестораны
    li(class="breadcrumbs_separator") /
    li(class="breadcrumbs_item")
      a(href="#0") Буду Еще
    li(class="breadcrumbs_separator") /
    li(class="breadcrumbs_current") Меню
