article(class="cardnews")
  header(class="cardnews_header")
    time(class="cardnews_time") 28.04.2021
    h2(class="cardnews_title") Новое весеннее меню!
  div(class="cardnews_image" style="background-image: url(/images/cardnews/cardnews.jpg)")
    div(class="cardnews_image_content")
      h3(class="cardnews_image_title") Леонардо дай пиццы
      p(class="cardnews_image_description") Весна не ждет!
  footer(class="cardnews_footer")
    p(class="cardnews_description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut etiam in sagittis, quis rhoncus sit lectus dictumst elementum. Sit morbi hendrerit quisque consectetur sit leo. Sed faucibus amet ipsum, purus iaculis. Amet metus gravida in elit sollicitudin vitae id gravida vulputate. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut etiam in sagittis, quis rhoncus sit lectus dictumst elementum. Sit morbi hendrerit quisque consectetur sit.
