article(class="coupon")
  div(class="coupon_badge_container")
    div(class="coupon_badge")
      include ../../images/coupon/dot.svg
      p(class="coupon_badge_text") Акция
      include ../../images/coupon/dot.svg
  div(class="coupon_content")
    h2(class="coupon_content_title") Купон на скидку
      span 20%
    p(class="coupon_content_description") Сделай заказ от 3000 ₽
      span и получи скидку 20%
    p(class="coupon_content_code") leonardo2021
