- var images = ["/images/gallery/01.jpg","/images/gallery/02.jpg","/images/gallery/03.jpg", "/images/gallery/01.jpg","/images/gallery/02.jpg","/images/gallery/03.jpg", "/images/gallery/01.jpg","/images/gallery/02.jpg","/images/gallery/03.jpg", "/images/gallery/01.jpg","/images/gallery/02.jpg","/images/gallery/03.jpg"]

- var imagesBig = ["/images/gallery/01_big.jpg","/images/gallery/02_big.jpg","/images/gallery/03_big.jpg", "/images/gallery/01_big.jpg","/images/gallery/02_big.jpg","/images/gallery/03_big.jpg", "/images/gallery/01_big.jpg","/images/gallery/02_big.jpg","/images/gallery/03_big.jpg", "/images/gallery/01_big.jpg","/images/gallery/02_big.jpg","/images/gallery/03_big.jpg"]
