header(class="header")
  div(class="header_container")
    div(class="header_button_menu")
      div
      div
    a(class="header_container_logo" href="#0")
      include ../../images/Logo.svg
    ul(class="header_menu")
      li(class="header_menu_item")
        a(href="#0") Главная
      li(class="header_menu_item")
        a(href="#0") Рестораны
      li(class="header_menu_item")
        a(href="#0") Новости
      li(class="header_menu_item")
        a(href="#0") Контакты
    div(class="header_button")
      include ../../images/User_icon.svg
      span(class="header_login") Войти
    div(class="header_button")
      include ../../images/Bag_icon.svg
      a(href="#0" class="header_cart") Корзина
    div(class="header_button active")
      include ../../images/Bag_icon.svg
      a(href="#0" class="header_cart") 1000
        span &#8381;
    a(class="header_button_cart" href="#0")
      div(class="header_button_cart_badge")
        span 20
      include ../../images/Bag_icon.svg

