section(class="notification_container")
  article(class="notification")
    header(class="notification_header")
      h2 Леонардо дай пиццы
      div(class="notification_close")
        include ../../images/notification/close.svg
    footer(class="notification_footer")
      div(class="notification_icon")
        include ../../images/notification/preparing.svg
      div(class="notification_content")
        p Ваш заказ
          span Принят в обработку

  article(class="notification")
    header(class="notification_header")
      h2 Леонардо дай пиццы
      div(class="notification_close")
        include ../../images/notification/close.svg
    footer(class="notification_footer")
      div(class="notification_icon")
        include ../../images/notification/preparing.svg
      div(class="notification_content")
        p Ваш заказ
          span Готовится

  article(class="notification")
    header(class="notification_header")
      h2 Леонардо дай пиццы
      div(class="notification_close")
        include ../../images/notification/close.svg
    footer(class="notification_footer")
      div(class="notification_icon")
        include ../../images/notification/delivery.svg
      div(class="notification_content")
        p Ваш заказ
          span Доставляется
