- var productHomeTitle = ['Суп Том Ям с рисом и морепродуктами', 'Суп Фо Бо', 'Нэм', 'Суп Фо Бо', 'Нэм', 'Суп Том Ям с рисом и морепродуктами', 'Суп Фо Бо', 'Нэм', 'Суп Фо Бо']

- var productHomeTitleDescription = ['Классический кисло-острый суп на курином бульоне с кокосовым молоком, тигровыми креветками, голубыми мидиями в ракушках, зелёным луком, томатами черри, грибами шиитаке, кинзой и перцем чили. Подаётся с отварным рисом и долькой лайма.', 'Классический кисло-острый суп на курином бульоне с кокосовым молоком, тигровыми креветками, голубыми мидиями в ракушках, зелёным луком, томатами черри, грибами шиитаке, кинзой и перцем чили. Подаётся с отварным рисом и долькой лайма.', 'Классический кисло-острый суп на курином бульоне с кокосовым молоком, тигровыми креветками, голубыми мидиями в ракушках, зелёным луком, томатами черри, грибами шиитаке, кинзой и перцем чили. Подаётся с отварным рисом и долькой лайма.', 'С начинкой на выбор (2 шт).', 'Наваристый пряный говяжий бульон, рисовая лапша, тонко нарезанная говядина, ростки сои, базилик, мята, имбирь, перец чили, лайм, лук...', 'С начинкой на выбор (2 шт).' , 'Наваристый пряный говяжий бульон, рисовая лапша, тонко нарезанная говядина, ростки сои, базилик, мята, имбирь, перец чили, лайм, лук...', 'Наваристый пряный говяжий бульон, рисовая лапша, тонко нарезанная говядина, ростки сои, базилик, мята, имбирь, перец чили, лайм, лук...', 'С начинкой на выбор (2 шт).', 'Наваристый пряный говяжий бульон, рисовая лапша, тонко нарезанная говядина, ростки сои, базилик, мята, имбирь, перец чили, лайм, лук...']

- var productHomePrice = ['498', '342', '186', '498', '342', '186', '498', '342', '186']

- for (var i = 0; i < 9; i++)
    article(class="home_catalogue_product")
        div(class="home_catalogue_product_image")
            img(src="/images/home/menu/02.jpg" alt="" width="465" height="274")
        div(class="home_catalogue_product_hidden")
        div(class="home_catalogue_product_content")
            header(class="home_catalogue_product_header")
                h3(class="home_catalogue_product_title")
                    a(href="#0")= productHomeTitle[i]
                    span 500г
                p(class="home_catalogue_product_description")= productHomeTitleDescription[i]
            footer(class="home_catalogue_product_footer")
                div(class="home_catalogue_product_price")= productHomePrice[i]
                a(class="btn btn_tocart") В корзину
