div(class="sidemenu_shadow")
div(class="sidemenu")
	header(class="sidemenu_header active")
		a(href="#0" class="sidemenu_login") Регистрация/Вход
			include ../../images/User_icon.svg
	div(class="sidemenu_body")
		ul(class="sidemenu_menu")
			li(class="sidemenu_menu_item")
				a(href="#0") Главная
			li(class="sidemenu_menu_item")
				a(href="#0") Рестораны
			li(class="sidemenu_menu_item")
				a(href="#0") Новости
			li(class="sidemenu_menu_item")
				a(href="#0") Контакты
			li(class="sidemenu_menu_item")
				a(href="#0") Личные данные
			li(class="sidemenu_menu_item")
				a(href="#0") Мои заказы
			li(class="sidemenu_menu_item")
				a(href="#0") Выход



