doctype html
html(lang="ru")
  include components/head.pug
  body
    include components/header.pug
    include components/tomain.pug
    main(class="container profile")
      h1(class="profile_title") Ваша карта лояльности
      include components/bonuscard.pug



    include components/footer.pug
