doctype html
html(lang="ru")
  include components/head.pug
  body
    include components/header
    include components/sidemenu
    main(class="home container")
      section(class="slider")
        div(class="slider_back")
          include ../images/back.svg
        div(class="slider_next")
          include ../images/next.svg
        ul(class="slider_list")
          li(class="slider_item" style="background-image: url(/images/slider_bg.jpg)")
            h1 Освободись от готовки и сэкономь время.
          li(class="slider_item" style="background-image: url(/images/slider_bg.jpg)")
            h1 Длинный заголовок второго слайда.
          li(class="slider_item" style="background-image: url(/images/slider_bg.jpg)")
            h1 В разметке несколько заголовков h1, надо бы это исправить.

      section(class="home_why")
        h2(class="home_title") Почему мы?
        div(class="home_why_blocks_row")
          article(class="home_why_blocks")
            include ../images/home/clock.svg
            div
              h3 Быстро
              p Доставим в течении
                span 60 - 90 мин

          article(class="home_why_blocks")
            include ../images/home/food.svg
            div
              h3 Вкусно
              p Лучшие повара, лучшие продукты

          article(class="home_why_blocks")
            include ../images/home/heart.svg
            div
              h3 С любовью
              p Трепетный подход к каждому блюду

          article(class="home_why_blocks")
            include ../images/home/shield.svg
            div
              h3 Аккуратно
              p Доставим в целости и сохранности


      section(class="home_rests container")
        h2(class="home_title") Рестораны
        div(class="home_rests_row")
          article(class="restaurants")
            a(class="restaurants_image_container" href="#0")
              img(class="restaurants_image" src="./images/home/rests/leo.jpg" alt="" width="100%" height="200")
            div(class="restaurants_content")
              h3
                a(class="restaurants_link" href="#0") Леонардо дай пиццы
              p г. Санкт-Петербург, уд. Гаврилова д.12

          article(class="restaurants")
            a(class="restaurants_image_container" href="#0")
              img(class="restaurants_image" src="./images/home/rests/lobby.jpg" alt="" width="100%" height="200")
            div(class="restaurants_content")
              h3
                a(class="restaurants_link" href="#0") Lobby
              p г. Санкт-Петербург, уд. Гаврилова д.12

          article(class="restaurants")
            a(class="restaurants_image_container" href="#0")
              img(class="restaurants_image" src="./images/home/rests/budu_eshe.jpg" alt="" width="100%" height="200")
            div(class="restaurants_content")
              h3
                a(class="restaurants_link" href="#0") БудуЕще
              p г. Санкт-Петербург, уд. Гаврилова д.12


      section(class="home_catalogue container")
        h2(class="home_title") Меню
        div(class="home_catalogue_header")
          form(class="form_search")
            label(class="sr-only") Найти:
            input(class="input_search" type="search" placeholder="Например: Суп Том Ям")
          div(class="home_catalogue_filter form_filter_container")
            button(class="btn btn_filter")
              span(class="btn_filter_text") Фильтры
            include components/form_filter.pug

        div(class="home_catalogue_row")
          include components/card_data.pug
          - for (var i = 0; i < 9; i++)
            include components/card.pug

        div
          button(class="btn btn_more") Показать ещё


    include components/footer
